<div id="purchaseCalculator" class="well" style="padding-bottom: 50px" data-bind="page: {id: 'Purchase', with: purchase}">
    <h5>Monthly Spend:</h5>
    <div>
        <label for="monthlySpend" data-bind="text: '£' + monthlySpend()"></label>
        <input id="monthlySpend" name="monthlySpend" type="range" min="0" max="5000" data-bind="value: monthlySpend">
        <i class="icon-info-sign" data-toggle="tooltip"
            title="How much do you plan to spend in the average month?"></i>
    </div>

    <h5 class="small">Will you spend more than <span data-bind="text: monthlySpend"></span>in the first month?</h5>
    <div style="margin-bottom: 10px;">
        <label class="radio inline">
            <input type="radio" name="higherFirstMonthSpend" value="true" data-bind="checked: higherFirstMonthSpend">
            Yes
        </label>

        <label class="radio inline">
            <input type="radio" name="higherFirstMonthSpend" value="false" data-bind="checked: higherFirstMonthSpend">
            No
        </label>
    </div>

    <a href="#" class="btn btn-warning pull-right" data-bind="click: App.Controller.Calculator.updateCalculations"><span>Update</span><span> ›</span></a>
</div>
