<div class="calculator" data-bind="with: Calculator">
    <div class="calculator-header col-12">
        <h3>Your Spending</h3>
    </div>
    
    <div class="calculator-body">
        <div class="col-12">
            <div class="question col-9">Monthly Spend:</div>
    
            <label class="slider-value col-3" for="monthlySpend" data-bind="text: '£' + monthlySpend()"></label>
            <input class="col-12" id="monthlySpend" name="monthlySpend" type="range" min="0" max="5000" data-bind="value: monthlySpend">
    
            <i class="icon-info-sign" data-toggle="tooltip" title="How much do you plan to spend in the average month?"></i>
        </div>
        
        <div class="col-12">
            <div class="question col-12">Will you spend more than £<span data-bind="text: monthlySpend"></span> in the first month?</div>
            
            <div class="radio-inline col-12">
                <label class="col-1">Yes</label>
                <input class="col-2" type="radio" name="higherFirstMonthSpend" value="true" data-bind="checked: higherFirstMonthSpend">
            
                <label class="col-1">No</label>
                <input class="col-2" type="radio" name="higherFirstMonthSpend" value="false" data-bind="checked: higherFirstMonthSpend">
            </div>
        </div>
        
        <button class="btn btn-warning med bordered" data-bind="click: App.Purchase.updateSavings">
            Update<i class="icon"> &gt; </i>
        </button>
    </div>
</div>
