<div data-bind="with: Purchase">
    <div>
        <div class="col-3">
            @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))

            @Html.Partial(Url.Content("~/Views/_Partials/Purchase/_Calculator.cshtml"))
        </div>

        <div class="col-9">
            @Html.Partial(Url.Content("~/Views/_Partials/Purchase/_Table.cshtml"))
        </div>
    </div>
</div>
