<div data-bind="with: Cashback">
    <div>
        <div class="col-3">
            @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))

            @Html.Partial(Url.Content("~/Views/_Partials/Cashback/_Calculator.cshtml"))
        </div>

        <div class="col-9">
            @Html.Partial(Url.Content("~/Views/_Partials/Cashback/_Table.cshtml"))
        </div>
    </div>
</div>
