<table class="table table-hover">
    <thead>
        <tr class="table-row">
            <th class="col-large"></th>
            <th class="col-medium">
                <a href="#">Offer Details</a>
            </th>
            <th class="col-small" data-bind="click: App.Cashback.Table.sortBySavings">
                <a href="#">Savings</a>
            </th>
            <th class="col-small" data-bind="click: App.Cashback.Table.sortByEligibility">
                <a href="#">Eligibility</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: cards">
        @Html.Partial(Url.Content("~/Views/_Partials/Cashback/_TableRow.cshtml"))
    </tbody>
</table>
