 <div id="rewardsCalculator" class="well" style="padding-bottom: 50px" data-bind="with: Calculator">
    <h5>Monthly Spend:</h5>
    <div style="margin-bottom: 10px;">
        <label for="monthlySpend" data-bind="text: monthlySpend"></label>
        <input id="monthlySpend" name="monthlySpend" type="range" min="0" max="5000" data-bind="value: monthlySpend">
        <i class="icon-info-sign" data-toggle="tooltip"
            title="How much do you plan to spend in the average month?"></i>
    </div>

    <a href="#" class="btn btn-warning pull-right" data-bind="click: App.Rewards.Calculator.updateCalculations"><span>Update</span><span> ›</span></a>
</div>
