<div data-bind="with: Table">
    <div class="col-12 table-header">
        <div class="col-8">
            <div class="col-4">&nbsp;</div>
            <div class="col-8">
                <a href="#">Offer Details</a>
            </div>
        </div>
        <div class="col-2">
            <a href="#" class="sortable"
                data-active="SORTED BY"
                data-hover="SORT BY"
                data-bind="click: App.Rewards.sortBySavings, css: {active: sortBy() === 'SavingAmount'}">Rewards Earned</a>
        </div>
        <div class="col-2">
            <a href="#"
                data-active="SORTED BY"
                data-hover="SORT BY"
                data-bind="click: App.Rewards.sortByEligibility">Your Eligibility</a>
        </div>
    </div>
    <div data-bind="foreach: cards">
        @Html.Partial(Url.Content("~/Views/_Partials/Rewards/_TableRow.cshtml"))
    </div>
</div>