<div data-bind="with: Categories">
    <ul class="nav nav-tabs nav-stacked" data-bind="foreach: category">
        <li>
            <a data-bind="text: Text, page-href: '../' + Name(), css: { 'active': Selected }"></a>
        </li>
    </ul>
</div>
