<div id="categories" data-bind="with: categories">
    <ul class="nav nav-tabs nav-stacked" data-bind="foreach: category">
        <li>
            <a data-bind="text: Text, page-href: Name"></a>
        </li>
    </ul>
</div>
