<div class="row-fluid" data-bind="with: $root.Form">
    <form>
        <fieldset>
            <div class="row-fluid">
                <div class="span12">
                    <legend>Find out your eligibility</legend>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    <label>First Name</label>
                    <input type="text" placeholder="First Name" data-bind="value: firstName">

                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name" data-bind="value: lastName">

                    <label>Date of Birth</label>
                    <input class="input-mini" type="text" placeholder="dd" data-bind="value: dobDate">
                    <input class="input-mini" type="text" placeholder="mm" data-bind="value: dobMonth">
                    <input class="input-mini" type="text" placeholder="yyyy" data-bind="value: dobYear">
                </div>

                <div class="span4">
                    <label>Address</label>
                    <input class="input-medium" type="text" placeholder="House Name / No" data-bind="value: house">
                    <input class="input-small" type="text" placeholder="Postcode" data-bind="value: postcode">

                    <label>Time at Address</label>
                    <input class="input-small" type="text" placeholder="Years" data-bind="value: timeAtAddressYears">
                    <input class="input-small" type="text" placeholder="Months" data-bind="value: timeAtAddressMonths">
                </div>

                <div class="span4">
                    <label>Annual Income</label>
                    <div class="input-prepend">
                        <span class="add-on">£</span>
                        <input type="text" placeholder="e.g. 15000" data-bind="value: annualIncome">
                    </div>

                    <label>Bank / Building Society</label>
                    <select>
                        <option>HSBC</option>
                        <option>Barclays</option>
                        <option>Santander</option>
                        <option>First Direct</option>
                        <option>Natwest</option>
                        <option>Nationwide</option>
                        <option>Alliance & Leicester</option>
                    </select>
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span12">
                    <a class="btn btn-large btn-warning pull-right" style="margin-left: 10px;">Find Cards</a>
                    <a class="btn btn-large btn-inverse pull-right" data-bind="page-href: '../'">Go Back</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
