<div class="row-fluid">
    <form>
        <fieldset>
            <div class="row-fluid">
                <div class="span12">
                    <legend>Find out your eligibility</legend>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    <label>First Name</label>
                    <input type="text" placeholder="First Name">

                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name">

                    <label>Date of Birth</label>
                    <input class="input-mini" type="text" placeholder="dd">
                    <input class="input-mini" type="text" placeholder="mm">
                    <input class="input-mini" type="text" placeholder="yyyy">
                </div>

                <div class="span4">
                    <label>Address</label>
                    <input class="input-medium" type="text" placeholder="House Name / No">
                    <input class="input-small" type="text" placeholder="Postcode">

                    <label>Time at Address</label>
                    <input class="input-small" type="text" placeholder="Years">
                    <input class="input-small" type="text" placeholder="Months">
                </div>

                <div class="span4">
                    <label>Annual Income</label>
                    <div class="input-prepend">
                        <span class="add-on">£</span>
                        <input type="text" placeholder="e.g. 15000">
                    </div>

                    <label>Bank / Building Society</label>
                    <select>
                        <option>HSBC</option>
                        <option>Barclays</option>
                        <option>Santander</option>
                        <option>First Direct</option>
                        <option>Natwest</option>
                        <option>Nationwide</option>
                        <option>Alliance & Leicester</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>
