<div data-bind="with: Table">
    <div class="col-12 table-header">
        <div class="col-6">
            <div class="col-4">&nbsp;</div>
            <div class="col-8">
                <a href="#" class="sortable"
                    data-active="SORTED BY"
                    data-hover="SORT BY"
                    data-bind="click: App.Combined.sortByBalanceTransfer, css: {active: sortBy() === 'DurationofBalRateM'}">Introductory Balance Transfer Offer</a>
            </div>
        </div>
        <div class="col-4">
            <a href="#" class="sortable"
                data-active="SORTED BY"
                data-hover="SORT BY"
                data-bind="click: App.Combined.sortByPurchase, css: {active: sortBy() === 'DurationofPurchRateM'}">Introductory Purchase Offer</a>
        </div>
        <div class="col-2">
            <a href="#"
                data-active="SORTED BY"
                data-hover="SORT BY"
                data-bind="click: App.Combined.sortByEligibility">Your Eligibility</a>
        </div>
    </div>
    <div data-bind="foreach: cards">
        @Html.Partial(Url.Content("~/Views/_Partials/Combined/_TableRow.cshtml"))
    </div>
</div>