@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div id="results" class="row-fluid">
    <div class="span3" style="margin-top: 35px;">

        @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))

    </div>
    <div class="span9">

        @Html.Partial(Url.Content("~/Views/_Partials/Combined/_Table.cshtml"))

    </div>
</div>
