form {
	padding: 20px 0;
}
.form-list {
	padding-right: 15px;
}
input {
	display:block;
	min-width: 30px;
}
.input-mini {
	width: 30px;
}
.input-small {
	width: 60px;
}
.input-medium {
	width: 90px;
}
.input-large {
	width: 120px;
}