@import '../_partials/jquery-theme';

.form-container {
	display: none;
}
.ui-dialog .ui-dialog-title {
	font-size: 34px;
	font-family: Copse, sans-serif;
	font-weight: normal;
	padding: 3px 0;
}

form {
	margin: 20px 0;
	background-color: #fff;	
	font-size: 12px;
	

	label {
		padding: 5px 0;
		margin: 5px 0;
		font-size: 12px;
		font-weight: bold;
		color: #000;
	}

	input,
	select {
		width: 92px;
		margin: 3px 10px 15px 0;
		border: 1px solid #999;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.1);
		box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.1);
	}
	
	input {
		height: 25px;
	}

	select {
		height: 24px;
	}
}
.input-max {
	width: 278px;
}
.input-xlarge {
	width: 140px;
}
.input-large {
	width: 128px;
}
.input-small {
	width: 69px;
}
.input-mini {
	width: 65px;
}
.form-list {
	width: 100%;
	padding: 20px;
	margin: 10px 20px;
	background: #def2f8;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
ul.form-list {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	font-size: 16px;
	display: block;
	list-style-type: none;
	line-height: 24px;

	li {		
		&:before {
			position: relative;
			top: -2px;
			left: -22px;
			display: block;
			max-width: 0;
			max-height: 0;
			font-size: 20px;
			color: #2d8db0;
			content: '\25A0';
		}	
	}
}
.form-divider {
	border-right: 2px dotted #ccc;
}
.form-footer {
	margin-top: 15px;
	line-height: 14px;
	
	.legal {
		padding: 15px 0 0 0;
		margin: 0;
		font-size: 11px;
		
		a {
			color: #0f7bb5;

			&:hover {
				text-decoration: underline;
			}
		}	
	}

	button.btn {
		margin-top: 10px;
		color: #fff;

		&:hover {
			cursor: pointer;
			background-color: #29ade3;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0f7bb5), to(#029ad8));
			background-image: -webkit-linear-gradient(top, #0f7bb5, #029ad8);
			background-image: -moz-linear-gradient(top, #0f7bb5, #029ad8);
			background-image: -ms-linear-gradient(top, #0f7bb5, #029ad8);
			background-image: -o-linear-gradient(top, #0f7bb5, #029ad8);
		}
	}
}
.default {
	
}
.valid {
	background-color: Yellow;
	border: 3px solid Green;

	&:before { 
		content: 'hello';
		display: block;
		width: 30px;
		height: 30px;
		background-image: url('/Public/images/green_tick.png');
	}
}
.error {
	border: solid 1px #a71c1c;
	background-color: #ffabab;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffc0cb), to(#ffabab));
	background-image: -webkit-linear-gradient(top, #ffc0cb, #ffabab);
	background-image: -moz-linear-gradient(top, #ffc0cb, #ffabab);
	background-image: -ms-linear-gradient(top, #ffc0cb, #ffabab);
	background-image: -o-linear-gradient(top, #ffc0cb, #ffabab);
}
.error-message {
	color: #fff;
}
span.error-message {
	display: none;
	font-size: 11px;
	text-align: center;
	width: 90px;
	padding: 5px;
	position: absolute;
	background-color: #a71c1c;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:  1px 1px 5px 1px #555;    
    box-shadow:  1px 1px 5px 1px #555;
}
.error {
	&:focus + .error-message {
		display: block;
	}
}
.error {
	&:focus + .error-message {
		display: block;
	}
}