<div id="categories">
    <ul class="nav nav-tabs nav-stacked" data-bind="foreach: categories">
        <li>
            <a href="#" data-bind="text: Name, click: $root.setSelectedCategory"></a>
        </li>
    </ul>
</div>
