<div id="categories">
    <ul class="nav nav-tabs nav-stacked" data-bind="foreach: categories">
        <li>
            <a data-bind="text: Text, page-href5: Name"></a>
        </li>
    </ul>
</div>
