<div class="row-fluid" data-bind="with: AllCards">
    
    <div class="span12" data-bind="page: {id: 'Form', fx: 'slide'}">
        @Html.Partial(Url.Content("~/Views/_Partials/_Form.cshtml"))
    </div>

    <div class="span3" style="margin-top: 35px;">
        @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))
    </div>

    <div class="span9">
        @Html.Partial(Url.Content("~/Views/_Partials/AllCards/_Table.cshtml"))
    </div>
</div>