<div data-bind="with: AllCards">
    <div class="col-3">
        @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))
    </div>

    <div class="col-9">
        @Html.Partial(Url.Content("~/Views/_Partials/AllCards/_Table.cshtml"))
    </div>
</div>