<table class="table table-hover" data-bind="with: Table">
    <thead>
        <tr class="table-row">
            <th class="col-large"></th>
            <th class="col-medium" data-bind="click: App.AllCards.sortByBalanceTransfer">
                <a href="#">Balance Transfers</a>
            </th>
            <th class="col-medium" data-bind="click: App.AllCards.sortByPurchase">
                <a href="#">Purchases</a>
            </th>
            <th class="col-small" data-bind="click: App.AllCards.sortByEligibility">
                <a href="#">Eligibility</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: cards">
        @Html.Partial(Url.Content("~/Views/_Partials/AllCards/_TableRow.cshtml"))
    </tbody>
</table>
