/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//@import './components/mi-foundation/_foundation.scss';
@import '../components/mi-foundation/foundation';

@import '../components/mi-scaffold/scaffold';
@import '../components/mi-typography/type';

@import '../components/mi-boxes/boxes';
@import '../components/mi-buttons/buttons';
@import '../components/mi-dividers/dividers';
@import '../components/mi-banner/banner';
@import '../components/mi-banner/banner';
@import '../components/mi-forms/forms';
@import '../components/mi-lists/lists';
@import '../components/mi-navigation/nav';
@import './_partials/menu';
@import './_partials/calculator';
@import './_partials/table';
@import './_partials/form';

body {
	font-size: 1.5em;
}

.main {
	border-top: 10px solid #2c8db0;
}

.header {
	margin: auto;
	padding: 15px 0;
}

.content-main {
	visibility: hidden;
	margin-top: 20px;
}