<div data-bind="with: PoorCredit">
    <div>
        <div class="col-3">
            @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))
        </div>

        <div class="col-9">
            @Html.Partial(Url.Content("~/Views/_Partials/PoorCredit/_Table.cshtml"))
        </div>
    </div>
</div>
