<div class="well" style="padding-bottom: 50px" data-bind="page: {id: 'BalanceTransfer', with: balancetransfer}">
    <h5>Balance to transfer:</h5>
    <div>
        <label for="balance" data-bind="text: '£' + balance()"></label>
        <input id="balance" name="balance" type="range" min="0" max="20000" data-bind="value: balance">
        <i class="icon-info-sign" data-toggle="tooltip" 
            title="What is the value of the credit card balance(s) that you plan to transfer?"></i>
    </div>
        
    <h5>Monthly Repayment:</h5><label for="balance" data-bind="text: '£' + monthlyRepayment()"></label>
    <div>
        <input id="monthlyRepayment" name="monthlyRepayment" type="range" min="0" max="5000" data-bind="value: monthlyRepayment">
        <i class="icon-info-sign" data-toggle="tooltip" 
            title="How much of the balance do you plan to pay off in an average month? Select £0 if you plan to pay the minimum amount."></i>
    </div>

    <h6>Do you plan to clear your balance at the end of the 0% period?</h6>
    <div style="margin-bottom: 10px;">
        <label class="radio inline">
            <input type="radio" name="clearBalance" value="true" data-bind="checked: clearBalance"> Yes
        </label>
            
        <label class="radio inline">
            <input type="radio" name="clearBalance" value="false" data-bind="checked: clearBalance"> No
        </label>
    </div>
        
    <a href="#" class="btn btn-warning pull-right" data-bind="click: App.Controller.Calculator.updateCalculations"><span>Update</span><span> ›</span></a>
</div>