<div class="calculator" data-bind="with: Calculator">
    <div class="calculator-header col-12">
        <h3>Your Spending</h3>
    </div>
    <div class="calculator-body">
        <div class="col-12">
            <div class="question col-9">Balance to transfer:</div>
            
            <label class="slider-value col-3" for="balance" data-bind="text: '£' + balance()"></label>
            <input class="col-12" id="balance" name="balance" type="range" min="0" max="20000" data-bind="value: balance">
            
            <i class="icon-info-sign" data-toggle="tooltip" 
               title="What is the value of the credit card balance(s) that you plan to transfer?"></i>
        </div>
        
        <div class="col-12">
            <div class="question col-9">Monthly Repayment:</div>
            
            <label class="slider-value col-3" for="balance" data-bind="text: '£' + monthlyRepayment()"></label>
            <input class="col-12" id="monthlyRepayment" name="monthlyRepayment" type="range" min="0" max="5000" data-bind="value: monthlyRepayment">

            <i class="icon-info-sign" data-toggle="tooltip" 
               title="How much of the balance do you plan to pay off in an average month? Select £0 if you plan to pay the minimum amount."></i>
        </div>

        <div class="col-12">
            <div class="question col-12">Do you plan to clear your balance at the end of the 0% period?</div>
            
            <div class="radio-inline col-12">
                <label class="col-1">Yes</label>
                <input class="col-2" type="radio" name="clearBalance" value="true" data-bind="checked: clearBalance">
                
                <label class="col-1">No</label>
                <input class="col-2" type="radio" name="clearBalance" value="false" data-bind="checked: clearBalance">
            </div>
        </div>
        
        <button class="btn btn-warning med bordered" data-bind="click: App.BalanceTransfer.updateSavings">
            Update<i class="icon"> &gt; </i>
        </button>
    </div>
    
</div>