<div class="col-12" data-bind="with: BalanceTransfer">

    <div data-bind="page: {id: 'Form', fx: 'slide'}">
        @Html.Partial(Url.Content("~/Views/_Partials/_Form.cshtml"))
    </div>

    <div>
        <aside class="col-3">
            @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))

            @Html.Partial(Url.Content("~/Views/_Partials/BalanceTransfer/_Calculator.cshtml"))
        </aside>

        <section class="col-9">
            @Html.Partial(Url.Content("~/Views/_Partials/BalanceTransfer/_Table.cshtml"))
        </section>
    </div>
</div>
