<div data-bind="with: BalanceTransfer">
    <div>
        <aside class="col-3">
            @Html.Partial(Url.Content("~/Views/_Partials/_CategoryMenu.cshtml"))

            @Html.Partial(Url.Content("~/Views/_Partials/BalanceTransfer/_Calculator.cshtml"))
        </aside>

        <section class="col-9">
            @Html.Partial(Url.Content("~/Views/_Partials/BalanceTransfer/_Table.cshtml"))
        </section>
    </div>
</div>
